<h1>Create a new Portfolio Item</h1>

<%= form_for(@portfolio) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title%>
  </div>
  <div class="field">
    <%= form.label :subtitle %>
    <%= form.text_field :subtitle%>
  </div>
  <div class="field">
    <%= form.file_field :thumb_image %>
  </div>
  <div class="field">
    <%= form.file_field :main_image %>
  </div>
  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>
  <%= form.fields_for :technologies do |tech| %>
   <%= tech.label :name %>
   <%= tech.text_field :name %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
