 <% @portfolios.each do |portfolio| %>
 <div class="portfolio-div card" data-id="<%= portfolio.id %>">
 <p><%= link_to portfolio.title,portfolio_show_path(portfolio) %></p>
 <p><%= portfolio.subtitle %></p>
 <p><%= portfolio.body %></p>
 <%= image_tag portfolio.main_image unless portfolio.main_image.nil?  %>
 <%= image_tag portfolio.thumb_image unless portfolio.thumb_image.nil? %>
 <%= link_to "Edit",edit_portfolio_path(portfolio) if logged_in?(:site_admin) %>
 <%= link_to "Delete Portfolio",portfolio_path(portfolio),method: :delete,data: { confirm: "Are you Sure?" } if logged_in?(:site_admin) %>
</div>
<% end %>


<style>
 .portfolio-div{
   width: 33%;
   margin-bottom: 20px;
 }	
</style>