<h1>Portfolio Items</h1>
<% @portfolios.each do |pf| %>
 <p><%= pf.title %></p>
 <p><%= pf.subtitle %></p>
 <p><%= pf.body %></p>
 <%= image_tag pf.main_image unless pf.main_image.nil?  %>
 <%= image_tag pf.thumb_image unless pf.thumb_image.nil? %>
<% end %>